<html>
<head>
<title>NB Data Compliance Map</title>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="js/client.js" ></script>
<script src="js/springy.js" ></script>
<script src="js/springyui.js" ></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>
    var selectedProp = null;
    var datamap = new DataMapClient();
    var graph = new Springy.Graph();
    datamap.on("document-ready", function(){
        //var n1 = graph.newNode({label:"Salesforce"});
        //var n2 = graph.newNode({label:"EDI"});
        //graph.newEdge(n1, n2);
        $("#modal-edit-system").modal();
        $("#my_canvas").springy({graph: graph});
        datamap.loadProperties();
    });
    datamap.on("systems-loaded", function(data){
        console.log(data);
        datamap.systems = {};
        for(var system of data){
            datamap.systems[system._id] = system;
            datamap.systems[system._id].node = graph.newNode({label:system.name});
        }
        datamap.loadTransfers($("#property-selector").val());
    });
    datamap.on("properties-loaded", function(data){
        $("#property-selector").html("");
        datamap.props = data;
        selectedProp = data[0]._id;
        for(var prop of datamap.props)
        {
            $("#property-selector").append(datamap.render(prop, "property-option"));
        }
        datamap.loadSystems();
    });
    datamap.on("transfers-loaded", function(data){
        for(var transfer of data)
        {
            var sys1 = datamap.systems[transfer.fromSystemId];
            var sys2 = datamap.systems[transfer.toSystemId];
            graph.newEdge(sys1.node, sys2.node)
        }
    });
    function saveSystem()
    {
        var nsystem = {};
        nsystem.name = $("#edit-system-name").val();
        nsystem.systemId = nsystem.name.replace(/\s/g, "");
        nsystem.comment = $("#edit-system-comment").val();
        nsystem.createdOn = new Date();
        nsystem.createdBy = "jagilber";
        nsystem.modifiedOn = null;
        nsystem.modifiedBy = null;

        $.jpost("/systems", nsystem, (function(result){
			if(result.status == "ERROR")
			{
                console.error(result.error);
			}
			else
			{
                if(result.data.insertedCount == 1)
                {
                    var record = result.data.ops[0];
                    record.id = result.data.insertedIds[0];
                }
                console.log(result.data);
			}
		}));
    }

    $.extend({
	jpost: function(url, body, callback) {
		return $.ajax({
			type: 'POST',
			url: url,
			data: JSON.stringify(body),
			contentType: "application/json",
			dataType: 'json'
		}).done(callback);
	},
	jput: function(url, body, callback) {
		return $.ajax({
			type: 'PUT',
			url: url,
			data: JSON.stringify(body),
			contentType: "application/json",
			dataType: 'json'
		}).done(callback);
	},
	jdelete: function(url, callback) {
		return $.ajax({
			type: 'DELETE',
			url: url,
			contentType: "application/json",
			dataType: 'json'
		}).done(callback);
	}
});
</script>
</head>
<body>
    <nav>
        <select id="property-selector">
            <option id="property-option" class="template" value="{{_id}}">{{name}}</option>
        </select>
    </nav>
    <canvas id="my_canvas" width="600" height="400"></canvas>

    <div id="modal-edit-system" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">New System</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
                    <form>
                        <input type="hidden" id="edit-system-id" />
                        <div class="form-group">
                            <label for="edit-system-name">System Name</label>
                            <input id="edit-system-name" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="edit-system-comment">Comment</label>
                            <textarea class="form-control" id="edit-system-comment" aria-describedby="edit-task-description" placeholder="Info about this system..."></textarea>
                        </div>
                    </form>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-edit-task-save" onclick="saveSystem()">Save</button>
                </div>
			</div>
		</div>
	</div>

</body>
</html>