<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="../SiteAssets/js/client.js?v=33" ></script>
<script>
    var datamap = new DataMapClient();
    $(document).ready(function(){
        var rexid = /\Decision\.aspx\#(\d+)/;
        var m = rexid.exec(window.location.href);
        if(!m)
        {
            $("#output").html("<h3>ID not found.</h3>");
        }
        else
        {
            var decid = parseInt(m[1]);
            $("#edit-system-id").val(decid);
            datamap.loadDecision(decid);
            datamap.on("decision-loaded", function(dec){
                $("#output").data("decision", dec);
                if(dec.IsComplete)
                {
                    $("#output").html("<h3>This decision has already been made: " + dec.Decision + ".</h3><p>Please visit <a href='https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_3225432942?context=%7B%22subEntityId%22%3Anull%2C%22channelId%22%3A%2219%3A9913a7b786b645fba9496dccd6bbe1eb%40thread.skype%22%7D&groupId=0316278f-95c5-42c7-874b-7e7d24281cba&tenantId=936c00a6-28ce-4731-8fc9-619b4403baf1'>MS Teams</a> for any follow-up tasks. Or <a href='#' onclick='showDecModal(); return false;'>click here</a> to change the decision.</p>");
                }
                else
                {
                    showDecModal();
                }
            });
            datamap.on("options-loaded", function(options){
                $(datamap.getTemplateParent("option")).append(datamap.render(options, "option"));
            });
            datamap.on("decision-updated", function(result){
                $("#output").html("<h3>Thank you!</h3><p>Please check off the corresponding task for this in <a href='https://teams.microsoft.com/l/entity/com.microsoft.teamspace.tab.planner/_djb2_msteams_prefix_3225432942?context=%7B%22subEntityId%22%3Anull%2C%22channelId%22%3A%2219%3A9913a7b786b645fba9496dccd6bbe1eb%40thread.skype%22%7D&groupId=0316278f-95c5-42c7-874b-7e7d24281cba&tenantId=936c00a6-28ce-4731-8fc9-619b4403baf1'>MS Teams</a>.</p>");
            });
        }
    });
    function showDecModal()
    {
        $(".decision-option").remove();
        var dec = $("#output").data("decision");
        $("#modal-edit-system").modal();
        $("#task-title").val(dec.Title);
        $("#modal-edit-system .modal-title").html(dec.DecisionTitle);
        datamap.loadDecisionOptions(dec);

    }
    function setDecisionValue()
    {
        $("#modal-edit-system").modal("hide");
        var decid = $("#edit-system-id").val();
        var decval = $("input[name='options']:checked").val();
        var dectitle = $("#task-title").val();
        datamap.setDecision(decid, dectitle, decval);
    }
</script>
<div id="output"></div>
<div id="modal-edit-system" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Decision</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <p class="template decision-option" id="option">
                            <label><input type="radio" name="options" value="{{Action}}" />{{Action}}</label>
                        </p>
                    </fieldset>
                    <input type="hidden" id="edit-system-id" />
                    <input type="hidden" id="task-title" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn-edit-task-save" onclick="setDecisionValue()">Save</button>
            </div>
        </div>
    </div>
</div>