<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="../SiteAssets/js/client.js?v=46" ></script>
<script src="../SiteAssets/js/springy.js" ></script>
<script src="../SiteAssets/js/springyui.js?v=14"></script>
<script>
    var selectedProp = null;
    var datamap = new DataMapClient();
    var graph = new Springy.Graph();
    datamap.on("document-ready", function(){
        //var n1 = graph.newNode({label:"Salesforce"});
        //var n2 = graph.newNode({label:"EDI"});
        //graph.newEdge(n1, n2);
        var canvas = document.createElement("canvas");
        canvas.width = $("#mapContent").width();
        canvas.height = 400;
        canvas.id = "my_canvas";
        $("#mapContent").append(canvas);
        //$("#modal-edit-system").modal();
        $(canvas).springy({graph: graph});
        datamap.loadProperties();
        $("#property-selector").on("change", function(e){
            reloadMapRequests($("#property-selector").val());
        });
    });
    datamap.on("systems-loaded", function(data){
        console.log(data);
        datamap.systems = {};
        for(var system of data){
            datamap.systems[system.Id] = system;
        }
        for(var transfer of datamap.transfers)
        {
            var sys1 = datamap.systems[transfer.FromSystemId];
            if(sys1 && !sys1.node)
                sys1.node = graph.newNode({label:sys1.Title});
            var sys2 = datamap.systems[transfer.ToSystemId];
            if(sys2 && !sys2.node)
                sys2.node = graph.newNode({label:sys2.Title});
            if(sys1 && sys1.node && sys2 && sys2.node)
                graph.newEdge(sys1.node, sys2.node)
        }
    });
    datamap.on("properties-loaded", function(data){
        $("#property-selector").html("");
        datamap.props = data;
        selectedProp = data[0].Id;
        for(var prop of datamap.props)
        {
            $("#property-selector").append(datamap.render(prop, "property-option"));
        }
        datamap.loadRequests(selectedProp);
        datamap.loadTransfers(selectedProp);
    });
    datamap.on("transfers-loaded", function(data){
        datamap.loadSystems();
        datamap.transfers = data;
    });
    datamap.on("requests-loaded", function(data){
        for(var request of data)
        {
            var elemhtml = datamap.render(request, "request");
            var elem = $("#requests").append(elemhtml);
            if(request.Status == "Closed")
            {
                $("[data-id=" + request.Id + "]").addClass("req-complete");
            }
        }
    });
    datamap.on("request-loaded", function(req){
        $("#modal-edit-request .modal-body").html("");
        $("#modal-edit-request .modal-title").html(req.Title);
        $("#modal-edit-request .modal-body").append("<div class='log-line'><span>" + req.ReceivedOn + "</span>Request received.");
        for(var log of req.logs)
        {
            $("#modal-edit-request .modal-body").append(datamap.render(log, "log-line"));
        }
        if(req.CompletedOn != null)
            $("#modal-edit-request .modal-body").append("<div class='log-line'><span>" + req.CompletedOn + "</span> Request completed.");
    });
    datamap.on("request-selected", function(rid){
        $(".req-selected").removeClass("req-selected");
        $("[data-id=" + rid + "]").addClass("req-selected");
        datamap.loadTasks(rid);
    });
    
    datamap.on("tasks-loaded", function(data){
        for(var sys in datamap.systems)
        {
            if(datamap.systems[sys].node)
                datamap.systems[sys].node.data.affected = false;
        }
        for(var task of data)
        {
            datamap.systems[task.SystemId].node.data.affected = true;
            datamap.systems[task.SystemId].node.data.isComplete = task.IsComplete;
        }
    });
    function reloadMapRequests(propid)
    {
        $(".request").remove();
        
        for(var sys in datamap.systems)
        {
            if(datamap.systems[sys].node)
                graph.removeNode(datamap.systems[sys].node);
        }
        selectedProp = $("#property-selector").val();
        datamap.loadTransfers(selectedProp);
        datamap.loadRequests(selectedProp);
    }
    function ShowRequest(reqid)
    {
        datamap.loadRequest(reqid);
        $("#modal-edit-request").modal();
        $("#modal-edit-request .modal-title").html("Loading...");
    }
</script>
<style>
    .req-selected{
        background-color: lightblue;
    }
    .request{
        padding:5px;
        border-top: 1px solid rgba(0,0,0,.3);
        line-height: 2em;
    }
    .request input[type=button]{
        float:right;
        margin-right: 10px;
        height: 30px;
        line-height: 1em;
    }
    .req-complete{
        text-decoration: line-through;
    }
    .log-line{
        padding: 5px;
        margin-bottom: 3px;
        font-family: monospace;
        font-size: 10px;
    }
    .log-line span{
        width: 100px;
        background-color: lightgray;
        margin-right: 4px;
    }
</style>
<div id="option-bar">
    <select id="property-selector">
        <option id="property-option" class="template" value="{{Id}}">{{Title}}</option>
    </select>
</div>
<div id="mapContent">
</div>
<div id="requests">
    <div id="request" data-id="{{Id}}" class="template request" onclick="datamap.fireEvent('request-selected', '{{Id}}')">
        {{Title}}
        <input type="button" onclick="ShowRequest('{{Id}}');" value="Log" />
    </div>
</div>
<div id="modal-edit-request" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="log-line" class="template log-line"><span>{{Created}}</span>{{Title}}</div>
                <!--
                <form>
                    <input type="hidden" id="edit-system-id" />
                    <div class="form-group">
                        <label for="edit-system-name">System Name</label>
                        <input id="edit-system-name" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="edit-system-comment">Comment</label>
                        <textarea class="form-control" id="edit-system-comment" aria-describedby="edit-task-description" placeholder="Info about this system..."></textarea>
                    </div>
                </form>
                -->
            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn-edit-task-save" onclick="saveSystem()">Save</button>
            </div>
            -->
        </div>
    </div>
</div>
